{% render 'partials/head.liquid', title: 'Homepage' %}

{% render 'partials/top-navigation.liquid', title: snap.snapmap.name %}
<main>
  <section class="details-section">
    <ul>
      <li>
        <a href="/snappmaps/filter/{{ snap.snapmap.uuid }}">{{ snap.snapmap.name }}</a>
      </li>
      <li>
        <a href="/snappmaps/location/{{ snap.location }}">{{ snap.location }}</a>
      </li>
      <li>
        <a href="#">{{ snap.author.name }}</a>
      </li>
    </ul>
    
    <ul>
      <li>
        {{ snap.date_created | date: '%d %b %Y' }}
        {{ snap.date_created | date: '%H:%M' }}
      </li>
    </ul>
    
    <img src="https://fdnd-agency.directus.app/assets/{{ snap.picture.id }}">
  </section>
</main>
{% render 'partials/bottom-navigation.liquid' %}
